@font-face {
	font-family: 'lancelot';
	src: url(../font/Lancelot/Lancelot-Regular.ttf) format('Truetype');
}
@font-face {
	font-family: 'cormantGaramond_regular';
	src: url('../font/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('Truetype');
}

body {
	background-color:bisque;
	
}

#container {
    position: relative;
    display: block;
    width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.contentleft {
    float: right;
}


h1 {
	font-family:'lancelot', serif;
	
}
h1 {
	font-size: 38pt;
	text-align: center;
    
}

h3 {
    font-family:'cormantGaramond_regular', serif;
	font-size: 15pt;
	text-align: center;
    margin-bottom: 50px;
    
}

p{
   font-family:'cormantGaramond_regular', serif;
   font-size: 13pt;
    
}