* { margin: 0; padding: 0; border: 0; font-size: 100%; }

@font-face {
	font-family: 'lancelot';
	src: url(../font/Lancelot/Lancelot-Regular.ttf) format('Truetype');
}
@font-face {
	font-family: 'cormantGaramond_regular';
	src: url('../font/Cormorant_Garamond/CormorantGaramond-Regular.ttf') format('Truetype');
}

body {
    background-image: url( background.jpg);
	background-color:bisque;
	 
}



h1 {
    color:aqua;  
    
}

#container {
    position: relative;
    display: block;
    width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}

.contentleft {
    float: left; 
}


h1 {
	font-family:'lancelot', serif;
    font-size: 38pt;
	text-align: center;
	
}


.myname {
    font-family:'cormantGaramond_regular', serif;
    color: red;
    font-size: 15pt;
    background-color: beige;
    text-align: center;
    padding: inherit;
    margin-bottom: 50px;
}


p {
   font-family:'cormantGaramond_regular', serif;
   font-size: 13pt;
    
}

